DJANGO_SECRET_KEY=replace-with-your-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

DJANGO_DB_ENGINE=django.db.backends.mysql
DJANGO_DB_NAME=trip_django
DJANGO_DB_USER=root
DJANGO_DB_PASSWORD=666666
DJANGO_DB_HOST=127.0.0.1
DJANGO_DB_PORT=3306

DJANGO_REDIS_URL=redis://127.0.0.1:6379/1
DJANGO_MEDIA_URL=/media/
